<div class="container" id="QuoteHolder">
    <hr>
    <h2 class="text-center" style="font-size: 30px;font-family: 'Nosifer', cursive;font-weight: bolder;color: #fbaa33;">
        Amazing and Hillarious Quotes!</h2>
    <div class="row">
        <div class="col-md-5">
            <app-quote-form (postQuote)="addNewQuote($event)"></app-quote-form>
        </div>

        <div class="col-md-7">
            <div class="card profile-card-2" *ngFor='let quote of quotes; let i = index'>
                <div class="card-body pt-2">
                    <h4 class="card-title text-center" style="font-family: 'Jacques Francois Shadow';font-size: 35px;">
                        {{quote.category}}
                    </h4>
                    <hr>
                    <h5 class="card-subtitle" appHighlight>
                        <i class="fas fa-quote-left"></i>
                        {{quote.name}}
                        <i class="fas fa-quote-right"></i>
                    </h5>
                    <hr>
                    <button id="details" (click)='toggleDetails(i)' class="btn btn-outline-success"
                        style="font-family: 'Nosifer', cursive;">Show More</button>
                    <hr>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'
                        (isComplete)='deleteQuote($event,i)'></app-quote-detail>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <h4 class="text-center">
        Copyright (c) 2020 Collins Akumu
    </h4>
    
</footer>