@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css");




.profile-card-2 .card-body{
  position:relative;
}

.profile-card-2 h5{
  font-weight:600;
  color: #fba33f;
}
.profile-card-2 .card-text{
  font-weight:300;
  font-size:15px;
}

.profile-card-2 .button-block{
  text-decoration:none;
  width:100%;
  display: flex;
  justify-content: center;
}
