.button-block {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-text {
  font-weight: 300;
  font-size: 15px;
}
 button {
 font-family: 'Nosifer', cursive;
 }