<div class="container">
    <div class="card">
        <article class="card-body bg-warning">
            <h4 class="card-title text-center mb-3">Angular Quotes</h4>
            <hr>
            <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' id="myForm">
                <div class="form-group">
                    <label for="name">Person's Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input class="form-control clearFields" placeholder="Enter Your Name Here..." type="text"
                            id="publisher" [(ngModel)]="quotePublisher" name="publisher" #publisher="ngModel"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">Quote Category</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-sitemap"></i> </span>
                        </div>
                        <input class="form-control clearFields" placeholder="Enter Quote Category Here..." type="text"
                            id="category" [(ngModel)]="quoteCategory" name="category" #category="ngModel" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quote">Favorite Quote</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-quote-left"></i><i
                                    class="fas fa-quote-l"></i> </span>
                        </div>
                        <input class="form-control clearFields" placeholder="Enter Quote Category Here..." type="text"
                            id="name" [(ngModel)]="quoteName" name="name" #name="ngModel" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="author">Authors' Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user"></i></span>
                        </div>
                        <input class="form-control clearFields" placeholder="Enter Authors' Name Here..." type="text"
                            id="author" [(ngModel)]="quoteAuthor" name="author" #author="ngModel" required>
                    </div>
                   
                </div>
                <div class="form-group">
                    <label for="author">Published Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-calendar-check"></i> </span>
                        </div>
                        <input class="form-control clearFields" placeholder="Enter Published Date Here..." type="date"
                            id="publishDate" [(ngModel)]="quotePublishDate" name="publishDate"
                            #publishDate="ngModel" required>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success btn-block" > Post Quote </button>
                </div>
            </form>

        </article>
    </div>
</div>