<div class="container">
    <div class="card">
        <article class="card-body bg-warning">
            <h4 class="card-title text-center mb-4 mt-3">Angular Quotes</h4>
            <hr>
            <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
                <div class="form-group">
                    <label for="name">Person's Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Enter Your Name Here..." type="text" id="publisher"
                            [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel" required>
                    </div>
                    <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                        <p> Your Name is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">Quote Category</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-sitemap"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Enter Quote Category Here..." type="text" id="category"
                            [(ngModel)]="newQuote.category" name="category" #category="ngModel" required>
                    </div>
                    <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
                        <p>Quote Category is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quote">Favorite Quote</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-quote-left"></i><i class="fas fa-quote-l"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Enter Quote Category Here..." type="text" id="name"
                            [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
                    </div>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <p> Your Quote is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="author">Authors' Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user"></i></span>
                        </div>
                        <input class="form-control" placeholder="Enter Authors' Name Here..." type="text" id="author"
                            [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
                    </div>
                    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                        <p>Author is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="author">Published Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-calendar-check"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Enter Published Date Here..." type="date" id="publishDate"
                            [(ngModel)]="newQuote.publishDate" name="publishDate" #publishDate="ngModel" required>
                    </div>
                    <div [hidden]="publishDate.valid || publishDate.pristine" class="alert alert-danger">
                        <p>Date is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success btn-block"> Post Quote </button>
                </div>
            </form>
        </article>
    </div>
</div>